<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 footer navbar-inverse navbar-fixed-bottom">
            <p class="copyright">&copy;{{ site.time | date: '%Y' }} {{ site.name }}. </p>
        </div>
    </div>
</div>

{% include disqus-counts.html %}


  <!-- Search result template -->
  <script type="text/x-template" id="search-result">
    <div class="panel panel-primary">
    	<div class="panel-heading">
    		<span>##Title##<span>
    	</div>
    	<div class="panel-body">
    		<p>##Date##</p>
    		<p><a href="##Url##">Read &ldquo;##Title##&rdquo;</a></p>
    	</div>
    </div>
  </script>

{% raw %}
    <script id="search-results-template" type="text/mustache">
      {{#entries}}
        <article>
          <h3>
            {{#date}}
                <small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>
            {{/date}}
            <a href="{{url}}">{{title}}</a></h3>
        </article>
      {{/entries}}
    </script>
{% endraw %}

<script src="{{ site.baseurl }}/js/lunr.min.js" type="text/javascript" charset="utf-8"></script> 
<script src="{{ site.baseurl }}/js/search.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(function() {
    $('#search-query').lunrSearch({
      indexUrl: '{{ site.baseurl }}/js/index.json',   // Url for the .json file containing search index data
      results : '#search-results',  // selector for containing search results element
      entries : '.entries',         // selector for search entries containing element (contained within results above)
      template: '#search-results-template'  // selector for Mustache.js template
    });
  });
</script>
</body>
</html>
